[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bayesTLS"]
	path = bayesTLS
	url = https://github.com/daniel1noble/bayestls
[submodule "metaDigitise"]
	path = metaDigitise
	url = https://github.com/daniel1noble/metadigitise
[submodule "orchaRd"]
	path = orchaRd
	url = https://github.com/daniel1noble/orchard
