[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metaDigitise"]
	path = metaDigitise
	url = https://github.com/daniel1noble/metadigitise
